http://:8080 {
	encode gzip
	header {
		X-Robots-Tag "noindex, nofollow, noarchive"
	}

	@stats5chan path /stats/5chan
	redir @stats5chan /stats/d/bitsocial-5chan/5chan-stats?orgId=1&kiosk 302

	@statsRoot path /stats /stats/
	redir @statsRoot /stats/d/bitsocial-stats/bitsocial-stats?orgId=1&kiosk 302

	handle /stats/* {
		reverse_proxy 127.0.0.1:3300
	}

	respond 404
}

newsletter.bitsocial.net {
	reverse_proxy 127.0.0.1:9000

	header {
		Access-Control-Allow-Origin https://bitsocial.net
		Access-Control-Allow-Methods "GET, POST, OPTIONS"
		Access-Control-Allow-Headers "Content-Type, Authorization"
		Access-Control-Max-Age 86400
	}

	@options method OPTIONS
	respond @options 204

	encode gzip
}
